//
//  Development.config.xcconfig
//  TripPlanner
//
//  Created by Victoria Belinschi on 07.10.2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_URL = https:/$()/raw.githubusercontent.com/TuiMobilityHub/ios-code-challenge/master/connections.json
